{% extends 'layout.html' %}

{% block title %}Ogani{% endblock %}

{% block content %}

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Todas las Categorías</span>
                        </div>
                        <ul>
                            <li><a href="#">Abarrotes</a></li>
                            <li><a href="#">Carnes</a></li>
                            <li><a href="#">Bebidas</a></li>
                            <li><a href="#">Farmacia</a></li>
                            <li><a href="#">Frutas y Vegetales</a></li>
                            <li><a href="#">Lacteos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    Todo
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="Qué necesita?">
                                <button type="submit" class="site-btn">BUSCAR</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-camera"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>Busqueda Rápida</h5>
                                <span>Haz click en la cámara</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="static/img/hero/banner.jpg">
                        <div class="hero__text">
                            <span>FRUIT FRESH</span>
                            <h2>Verduras <br />100% Organicas</h2>
                            <p>Delivery Gratis Disponible</p>
                            <a href="#" class="primary-btn">COMPRA AHORA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="static/img/categories/cat-1.jpg">
                            <h5><a href="#">Abarrotes</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="static/img/categories/cat-2.jpg">
                            <h5><a href="#">Medicamentos</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="static/img/categories/cat-3.jpg">
                            <h5><a href="#">Frutas y Vegetales</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="static/img/categories/cat-4.jpg">
                            <h5><a href="#">Bebidas</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="static/img/categories/cat-5.jpg">
                            <h5><a href="#">Carnes</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Productos destacados</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">Todo</li>
                            <li data-filter=".medicamentos">Medicamentos</li>
                            <li data-filter=".carnefresca">Carne fresca</li>
                            <li data-filter=".higiene">Higiene personal</li>
                            <li data-filter=".frutas">Frutas</li>
                            <li data-filter=".conservas">Conservas</li>    
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                <div class="col-lg-3 col-md-4 col-sm-6 mix carnefresca">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="static/img/featured/feature-1.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Carne de guiso</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix frutas">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="static/img/featured/feature-2.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Plátano de Seda</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix medicamentos">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="static/img/featured/feature-3.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Bismutol</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix frutas">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="static/img/featured/feature-4.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Piña Golden</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix higiene">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="static/img/featured/feature-5.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Jabón Nivea</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix medicamentos higiene">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="static/img/featured/feature-6.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Alcohol</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix carnefresca">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="static/img/featured/feature-7.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Pollo Entero</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix conservas">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="static/img/featured/feature-8.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Atún en lata</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}